# =================================================
# General
# =================================================
.DS_Store
*.log

# =================================================
# IDEs - IntelliJ IDEA / VSCode
# =================================================
.idea/
.vscode/
*.iml

# =================================================
# Java / Spring Boot / Gradle (Backend)
# =================================================
api-server/build/
api-server/.gradle/

# !! SECURITY !!
# Ignore sensitive application configuration
api-server/src/main/resources/application-local.yml
api-server/src/main/resources/gcp-credentials.json

# =================================================
# Node.js / Expo (Frontend)
# =================================================
english-app/node_modules/
english-app/.expo/
english-app/dist/
english-app/web-build/
english-app/expo-env.d.ts
package-lock.json
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env*.local