@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. 폰트 정의 (@font-face) */
@font-face {
  font-family: 'Mulish';
  src: url('./assets/fonts/Mulish-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium은 보통 500 */
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('./assets/fonts/Mulish-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold는 보통 600 */
  font-style: normal;
}

/* Global Styles */
body {
  margin: 0;
  font-family: 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}
