@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. 폰트 정의 (@font-face) */
@font-face {
  font-family: 'Mulish';
  src: url('./assets/fonts/Mulish-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium은 보통 500 */
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('./assets/fonts/Mulish-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold는 보통 600 */
  font-style: normal;
}

/* Global Styles */
body {
  margin: 0;
  font-family: 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

/* ==================================================== */
/* AboutPage, TermsService, TermsPrivacy iframe 임시 css */

.iframe-container {
  width: 100%;
  height: 90vh; 
  overflow: hidden; /* 영역 밖 숨김 */
  position: relative;
  padding: 30px;
}

.hidden-nav-iframe {
  position: absolute;
  top: -280px; /* 네비바 높이만큼 위로 올려서 숨김 (예: 60px) */
  width: 95%;
  height: calc(100% + 280px); /* 네비바 높이만큼 높이를 늘림 */
  overflow: auto;        /* 스크롤 기능 유지 */
  border: none;

  /* Firefox */
  scrollbar-width: none;
  /* IE */
  -ms-overflow-style: none;
}

.policy-nav-iframe {
  position: absolute;
  top: -90px; /* 네비바 높이만큼 위로 올려서 숨김 (예: 60px) */
  width: 95%;
  height: calc(100% + 90px); /* 네비바 높이만큼 높이를 늘림 */
  overflow: auto;        /* 스크롤 기능 유지 */
  border: none;

  /* Firefox */
  scrollbar-width: none;
  /* IE */
  -ms-overflow-style: none;
}

/* Chrome, Edge, Safari */
.hidden-nav-iframe::-webkit-scrollbar {
  display: none;
}
/* ==================================================== */
